<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="./lib/require-2.3.2.js"></script>
</head>
<body>

    <script>
        require.config({
            baseUrl: './lib',
            paths: {
                'app': '../app',
                'views': '../app/views',
                'com': '../app/components',
                'vue': 'vue-2.1.7',
                'vue-router': 'vue-router-2.1.1',
                'text': 'require-text-2.0.15',
                'axios': 'axios-0.15.3'
            }
        })
    </script>

    <div id="app">

        <router-link to="/foo">Go to Foo</router-link>
        <router-link to="/bar">Go to Bar</router-link>

        <router-view></router-view>
    </div>

    @RenderBody()

</body>
</html>
