<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="./lib/require-2.3.2.js"></script>
</head>
<body>

    <script>
        require.config({
            baseUrl: './',
            paths: {
                'vue': 'lib/vue-2.1.7',
                'vue-router': 'lib/vue-router-2.1.1',
                'text': 'lib/require-text-2.0.15',
                'axios': 'lib/axios-0.15.3'
            }
        })
    </script>

    <div id="app">

        <router-link to="/bura">Go to Bura</router-link>
        <router-link to="/bar">Go to Bar</router-link>

        <router-view></router-view>
    </div>

    @RenderBody()

</body>
</html>
